@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap');

:root {
    --primary-color: #00203FFF;
    --dark-gray: #78716C;
    --off-white:#ADEFD1FF;
    --back-color: white;
    --inside-header-footer:#F0FDF4;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    background-color: var(--back-color);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--inside-header-footer);
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.8rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.navigation .link {
    text-decoration: none;
    color: #BBF7D0;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
    border: 1px solid #BBF7D0;
    border-radius: 1rem;
}


.center{
    text-align: center;
}
.hero {
    padding: 2rem;
    padding-top: 3rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);    
}

.section{
    text-align: center;
    padding: 1rem;
}

.ow{
    background-color: var(--off-white);
    border-radius: 2rem;
}

.skillContainer {
    background-color: white;
    width: 80%;
    border-radius: 2rem;
    margin: auto;
}

.skill {
    background-color: var(--primary-color);
    color: white;
    padding: 0.2rem;
    padding-right: 1rem;
    text-align: right;
    font-size: 15px;
    border-radius: 2rem;
    font-family: 'Genos', sans-serif;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.javascript {
    width: 60%;
}

.git {
    width: 80%;
}

.reactjs {
    width: 50%;
}

.webHosting {
    width: 80%;
}
.csharp {
    width: 80%;
}
.net{
    width: 70%;
}
.xamarin{
    width: 90%;
}
.python{
    width: 50%;
}
.icon {
    max-width: 2rem;
    max-height: 2rem;
}
.footer{
    background-color: var(--primary-color);
    padding: 0.5rem 0.5rem;
    text-align: center;
    color: var(--inside-header-footer);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-top: 2rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: large;
}
.footer .link{
    color: var(--inside-header-footer);
}

.footer ul{
    padding-inline-start:0px;
}
